@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Techcareer Library</h1>
    <p>Here you can find a collection of books to explore.</p>
    <a href="/Books/Index" class="btn btn-primary">Go to Books</a>
</div>
